*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html{
  scroll-behavior: smooth;
  overflow-x: hidden;
}


.bg-primary {
  background-color: #495057a3 !important;
}

.sidebar-collapse .navbar-collapse:before {
  background: linear-gradient(#495057a3, #000 80%)
}

.card-description,
.description,
.footer-big p {
  color: #000000;
  font-size: 20px;
}

.try {
  text-align: center;
}

.logos {
  width: 50%;
  margin: 0 auto;
  display: block;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.page-header-image {
  object-fit: contain;
}

.container {
  width: 100%;

  margin-right: auto;
  margin-left: auto;
}